[submodule "Windows-10-Toast-Notifications"]
	path = Windows-10-Toast-Notifications
	url = https://github.com/Charnelx/Windows-10-Toast-Notifications
[submodule "goldenSunshine/src/Windows-10-Toast-Notifications"]
	path = goldenSunshine/src/Windows-10-Toast-Notifications
	url = https://github.com/Charnelx/Windows-10-Toast-Notifications
